# This is where my repos are being stored
# I would like to put this under Documents, but iCloud mangles it
alias repos="cd /Users/jody/Downloads/Repositories"

# ZSH config
alias zshconfig="code ~/.zshrc"
alias zshenv="code ~/.zshenv"

# Locate conflicts in git repos
alias findconflicts="grep -lr '<<<<<<<' ."

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

# Recursively delete `.DS_Store` files
alias cleands="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles 1 && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles 0 && killall Finder"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias ding="tput bel"

# Edit /etc/hosts file
alias hosts="sudo code /private/etc/hosts"

# NPM
alias npm-lock="npm install --package-lock-only"

# Yarn
alias opyarn="op run --env-file=.env -- yarn"

# 1Password PATH mods
alias srcopcore="source $HOME/1password-toolchain-macos/env"
