# Make sublime the default editor.
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='code'
else
  export EDITOR='code -w'
fi

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# NVM export
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# OpenSSL
export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"

# Golang
# export GOPATH=$(go env GOPATH)
# export PATH=$PATH:$(go env GOPATH)/bin
# export PATH=$PATH:/usr/local/opt/go/libexec/bin

# Android Dev
export ANDROID_HOME=$HOME/Library/Android/Sdk
export PATH=$PATH:$ANDROID_HOME/tools
export ANDROID_SDK_ROOT="/usr/local/share/android-sdk"

# Fastlane
export PATH="$HOME/.fastlane/bin:$PATH"

# Yarn
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# Rust
export PATH="$HOME/.cargo/bin:$PATH"

# FXA
export FXA_AUTO_INSTALL=0
