[user]
  name = Jody Heavener
  email = j.heavener@gmail.com
  # On a new machine this needs to be updated
  signingkey = 065C43AE0EE5A19A

[core]
  excludesfile = ~/.gitignore
  editor = subl -w

[color]
  branch = auto
  diff = auto
  status = auto

[push]
  default = simple
  followTags = true

[branch]
  autosetuprebase = always

[merge]
  log = true

[rebase]
  autosquash = true

[help]
  autocorrect = 1

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[alias]
  lease = push --force-with-lease

[gpg]
  program = gpg

[commit]
  gpgsign = true
