[user]
  name = Jody Heavener
  email = j.heavener@gmail.com

[core]
  excludesfile = ~/.gitignore
  editor = subl -w

[color]
  branch = auto
  diff = auto
  status = auto

[push]
  default = simple
  followTags = true

[branch]
  autosetuprebase = always

[merge]
  log = true

[rebase]
  autosquash = true

[help]
  autocorrect = 1

[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
