[user]
  name = Jody Heavener
	email = j.heavener@gmail.com
  signingkey = E18320EE42109F37

[core]
  excludesfile = ~/.gitignore
  editor = code -r -w

[color]
  branch = auto
  diff = auto
  status = auto

[push]
  default = simple
  followTags = true

[branch]
  autosetuprebase = always

[merge]
  log = true

[rebase]
  autosquash = true

[help]
  autocorrect = 1

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[alias]
  lease = push --force-with-lease

[gpg]
	program = gpg

[commit]
	gpgsign = true
  template = ~/.git_commit_template

[rerere]
	enabled = true

[init]
	defaultBranch = main
