[user]
  name = Jody Heavener
	email = jody.heavener@agilebits.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICo9yTkDWPFsMxxTy5E3Vib/69lBxVI4KZPKQLSu7Y/k

[core]
  excludesfile = ~/.config/git/.gitignore
  editor = code -r -w

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[color "branch"]
  current = green bold
  local = green
  remote = red bold

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red

[push]
  default = current
  followTags = true
  autoSetupRemote = true

[branch]
  autosetuprebase = always

[merge]
  log = true

[rebase]
  autosquash = true

[help]
  autocorrect = 1

[alias]
  lease = push --force-with-lease

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true
  template = ~/.config/git/.git_commit_template

[rerere]
	enabled = true

[init]
	defaultBranch = main

[url "ssh://git@ssh.gitlab.1password.io:2227"]
  insteadOf = https://gitlab.1password.io
